<!DOCTYPE html>
<html lang="en">
<partial name="_head" />
<body>
    <partial name="_navbar" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_footer" />
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
